include mixins/links.pug

- if (!isAjax)
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="generator", content="jingo" + jingoVersion)
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title= title
      +asset("/vendor/bootstrap/css/bootstrap.min.css")
      +asset("/vendor/bootstrap-toc/bootstrap-toc.min.css")
      +asset("/vendor/font-awesome/css/font-awesome.min.css")
      link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed")
      +asset("/css/style.css")
      +asset("/css/ionicons.min.css")
      +asset("/css/shCoreDefault.css")
      block styles
      if hasCustomStyle()
        style.
          !{_style}
    body(data-spy="scroll" data-target="#toc")
      -var term_ph = (typeof term == "undefined" ? "" : term)
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            if hasSidebar()
              a(class="navbar-brand" href="#menu-toggle" id="menu-toggle")
                span(class="glyphicon glyphicon-list" aria-hidden="true")
            +anchor("/", appTitle).navbar-brand
            if canSearch()
              form(action=proxyPath + "/search").navbar-form.search.navbar-left
                .input-group.input-group-sm.search
                  input.form-control(type="text", value=term_ph, data-i-search-input="true",name="term",placeholder="Search the wiki")
                  span.input-group-btn
                    button.btn.btn-primary(type="submit") Search
            .navbar-right
              if isAnonymous()
                p.user You're not&nbsp;
                  +anchor('/login?destination', 'logged in')#login(title='Access login page')
              else
                p.user
                  if user.email && user.email != 'jingouser'
                    img(src=gravatar().url(user.email, {s:24}))
                  b &nbsp;#{user.displayName}&nbsp;
                  +anchor('/logout')(title='Become anonymous')
                    i.icon.ion-power

      .tools
        block tools

      #wrapper
        .container-fluid
          block sidebar
            if hasSidebar()
              #sidebar-wrapper.content 
                .sidebar-content !{_sidebar}
      
          #page-content-wrapper
            .container-fluid(style="margin-left:20px;margin-right:20px")
              .row
                #main.hide-tools.col-md-10
                  block contents

                .col-md-2
                  nav(id="toc" data-spy="affix" data-toggle="toc")

              if hasFooter()
                .row
                  .col-md-10.with-footer
                    .content !{_footer}
                  .col-md-2

      script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
      script.
        window.jQuery || document.write("<sc" + "ript src='#{proxyPath}/vendor/jquery.min.js'></scr" + "ipt>");
      +asset("/vendor/bootstrap/js/bootstrap.min.js")
      +asset("/vendor/bootstrap-toc/bootstrap-toc.min.js")
      +asset("/js/app.js")
      script.
        Jingo.init("#{proxyPath}");

      block scripts
        if hasCustomScript()
          script.
            !{_script}
      
- else
  block content
